*.class

# Package Files #
*.jar
*.war
*.ear
# output dir
build/
logs/
dist/
target/
mods/
project/project/
project/target/
#haskell
.cabal-sandbox/
#NodeJS
node_modules
#SPM
spm_modules
#Eclipse
.gradle/
.settings/
.classpath
.project
#Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
#Netbeans
nbproject/
#Golang
bin/
pkg/
