@(un: String, role: String)(implicit flash: Flash, session: Session, messages: Messages)

@layout.main("Hello Login!") {
    <div id="index">
        <h2>欢迎[@un : @role]登录!</h2>
        <ul>
            <li><a href="@routes.AdminController.index()">首页</a></li>
            <li><a href="@routes.AdminController.is("ROLE_USER")">Check</a> </li>
            <li><a href="@routes.AdminController.has("ROLE_ADMIN")">Check1</a> </li>
            <li>
                <form id="form_1" action="@routes.AdminController.checkIs" method="post">
                    <input type="text" name="un" value="@un"/>
                    <input type="text" name="role" value="ROLE_USER"/>
                    <input id="bt_1" type="button" class="button" value="提交"/>
                </form>
            </li>
            <li>
                <form id="form_2" action="@routes.AdminController.checkHas" method="post">
                    <input type="text" name="un" value="@un"/>
                    <input type="text" name="role" value="ROLE_ADMIN"/>
                    <input id="bt_2" type="button" class="button" value="提交"/>
                </form>
            </li>
        </ul>

        <form id="form_3" action="@routes.AdminController.is()" method="GET">
            <input type="text" name="name" value="ROLE_ADMIN"/>
            <input id="bt_3" type="button" class="button" value="提交"/>
        </form>
        <ul>
        @for(t <- session.data) {
            <li>@t._1 :::: @t._2</li>
        }
        </ul>
    </div>
    <script src="@routes.Assets.versioned("js/app3.min.js")"></script>
}
