{{<layout/main}}
{{$title}} 我也不知道，你也不知道!!! {{/title}}
{{$body}}
<div>The content!!!</div>
<h1>{{name}}</h1>
<ul>
    {{#messages}}
        <li>{{key}}|{{value}}</li>
    {{/messages}}
</ul>

{{/body}}
{{/layout/main}}