<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Content page 1</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <ul>
        <li><a th:href="@{/wsdl/test/94304}">Soap Web Service</a></li>
        <li><a th:href="@{/admin/}">Admin</a></li>
        <li><a th:href="@{/demo/index}">Demo</a></li>
        <li><a th:href="@{/greeting}">Greeting REST Web Service</a></li>
        <li><a th:href="@{/demo/customer}">User CRUD REST Customer</a></li>
        <li><a th:href="@{/demo/people}">Spring CRUD REST Customer</a></li>
    </ul>
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>
</body>
</html>