{{<layout/main}}
{{$title}}我也不知道，你也不知道！！{{/title}}
{{$body}}
<div>The content!!!</div>
<h1>{{name}}</h1>
<ul>
    {{#persons}}
        <li>{{name}}|{{age}}|{{address}}</li>
    {{/persons}}
</ul>
{{/body}}
{{/layout/main}}