{{>common/head}}
{{#items}}
    Name: {{name}}
    Price: {{price}}
    {{#features}}
        Feature: {{&description}} | {{{description}}}
    {{/features}}
{{/items}}

{{^repos}}
    No repos :)
{{/repos}}