@()(implicit flash: Flash)
@if(!flash.isEmpty) {
    <div id="_flash_" style="position: absolute;
        z-index: 999;
        left: 20px;
        right: 20px;
        top: 0px;
        text-align: center;">
        @if(flash.data.contains("success")) {
            <div class="alert alert-success">
                <span style="font-weight: bold">@flash.data("success")</span>
            </div>
        }
        @if(flash.data.contains("error")) {
            <div class="alert alert-danger">
                <span style="font-weight: bold">@flash.data("error")</span>
            </div>
        }
    </div>
    <script src="@routes.Assets.versioned("../../../public/js/flash.min.js")" type="text/javascript"></script>
}
