@()(implicit flash: Flash)
@if(!flash.isEmpty) {
    <div id="_flash_" style="position: absolute;
        z-index: 999;
        left: 20px;
        right: 20px;
        top: 0px;
        text-align: center;">
        @for(t <- flash.data) {
            <div class="@{if(t._1 == "success") "alert alert-success" else if(t._1 == "error") "alert alert-danger" else "alert alert-info"}">
                <span style="font-weight: bold">@t._2</span>
            </div>
        }
    </div>
    <script src="@routes.Assets.versioned("js/flash.min.js")" type="text/javascript"></script>
}
