@(message: String)(implicit request: MessagesRequestHeader, session: Session, flash: Flash, ls: Langs, lang: Lang)

@layout.main("Welcome to Play") {
    <a href="@routes.PersonController.index()" class="btn btn-primary">Person</a>
    <h5>@message|@request.messages("name")|@request.messages("age")</h5>

    @helper.form(action = routes.HomeController.changeLanguage()) {
        <select name="lang" onchange="this.form.submit()">
        @ls.availables.map { l =>
            <option value="@l.code" @(if(l.code.startsWith(lang.code)) "selected")>@l.code</option>
        }
        </select>
        <h1>@Messages("name")</h1>
    }
    <hr/>
    <h4>Session:</h4>
    @tags.session()
}
