@(person: Form[CreatePersonForm])(implicit messages: Messages, session: Session, flash: Flash)

@import helper._

@main("Welcome to Play") {
  <script src="@routes.Assets.versioned("javascripts/app2.js")"></script>
  <ul id="persons"></ul>
  @form(routes.PersonController.addPerson) {
    <div class="ui icon input">
    @inputText(person("name"), 'id -> "_name")
    </div>
    <div class="ui icon input">
    @inputText(person("age"))
    </div>
    <div class="buttons">
      <input type="submit" value="Add New Person" class="ui primary  button"/>
    </div>
  }

  <form action="@routes.PersonController.addPerson()" method="post">
    <dl>
      <dt><label>Name</label></dt>
      <dd><input type="text" name="name" value="@person("name").value"></dd>
      @if(person.error("name").isDefined) {
        <dd class="error">@messages(person.error("name").get.message, person.error("name").get.args: _*)</dd>
      }
    </dl>
    <dl>
      <dd><label>Age</label></dd>
      <dd><input type="text" name="age" value="@person("age").value"></dd>
      @if(person.error("age").isDefined) {
        <dd class="error">@messages(person.error("age").get.message, person.error("age").get.args: _*)</dd>
      }
    </dl>
    <input type="submit" value="Add New Person" class="ui primary  button"/>
  </form>
  <ul>
  @for(e <- person.errors) {
    <li class="error">@e.key |@e.message [@e.args] | @messages(e.message, e.args: _*)</li>
  }
  </ul>

  @form(routes.HomeController.home(111, "XinFeng"), 'method -> "GET", 'id -> "index") {
    <div class="buttons">
      <input type="submit" value="Index With Flash And Session!" class="ui primary  button"/>
    </div>
  }
  <a href="@routes.PersonController.index()">Index</a>
  <div id="messages">@messages("error.number")</div>
  <div id="session">
    session:
    <ul>
      <li>home:@session.get("home")</li>
      <li>index:@session.get("index")</li>
      <li>user:@session.get("user")</li>
    </ul>
  </div>
  <div id="flash">
    flash:
    <ul>
      <li>home:@flash.get("home")</li>
      <li>index:@flash.get("index")</li>
      <li>user:@flash.get("user")</li>
    </ul>
  </div>
}
