@(person: Form[CreatePersonForm])(implicit messages: Messages, session: Session, flash: Flash)

@import helper._

@layout.main("Welcome to Play") {
    <script src="@routes.Assets.versioned("javascripts/app2.min.js")"></script>
    <ul id="persons"></ul>
    @form(routes.PersonController.addPerson) {
        <div class="ui icon input">
        @inputText(person("name"), 'id -> "_name")
        </div>
        <div class="ui icon input">
        @inputText(person("age"))
        </div>
        <div class="buttons">
            <input type="submit" value="Add New Person" class="btn btn-primary"/>
        </div>
    }

    <form action="@routes.PersonController.addPerson()" method="post">
        <dl>
            <dt><label>Name</label></dt>
            <dd><input type="text" name="name" value="@person("name").value"></dd>
            @if(person.error("name").isDefined) {
                <dd class="error">@messages(person.error("name").get.message, person.error("name").get.args: _*)</dd>
            }
        </dl>
        <dl>
            <dt><label>Age</label></dt>
            <dd><input type="text" name="age" value="@person("age").value"></dd>
            @if(person.error("age").isDefined) {
                <dd class="error">@messages(person.error("age").get.message, person.error("age").get.args: _*)</dd>
            }
        </dl>
        <dl>
            <dt><input type="submit" value="Add New Person" class="btn btn-primary"/></dt>
        </dl>
    </form>
    <ul>
    @for(e <- person.errors) {
        <li class="error">@e.key |@e.message [@e.args] | @messages(e.message, e.args: _*)</li>
    }
    </ul>

    @form(routes.HomeController.home(111, "XinFeng"), 'method -> "GET", 'id -> "index") {
        <div class="buttons">
            <input type="submit" value="Index With Flash And Session!" class="ui primary  button"/>
        </div>
    }
    <a href="@routes.PersonController.index()">Index</a>
    <div id="messages">@messages("error.number")</div>
    <div id="session">
        session:
        <ul>
            <li>home:@session.get("home")</li>
            <li>index:@session.get("index")</li>
            <li>user:@session.get("user")</li>
        </ul>
    </div>
    <div id="flash">
        flash:
        <ul>
            <li>home:@flash.get("home")</li>
            <li>index:@flash.get("index")</li>
            <li>user:@flash.get("user")</li>
        </ul>
    </div>

    <div class="btn-group">
        <button class="btn">Left</button>
        <button class="btn">Middle</button>
        <button class="btn">Right</button>
    </div>
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="@routes.HomeController.home()" role="button">Learn more</a></p>
    </div>
        <!-- dataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
            </tr>
        </tfoot>
    </table>
}
