@(user: Form[Login])(implicit flash: Flash, session: Session, messages: Messages)
@layout.main("Hello Login!") {
    <div>
        <div id="login">
            <h2> 管理后台登录 <strong></strong></h2>
            @helper.form(action = routes.Authorize.authenticate()) {
                @helper.inputText(user("username"), '_label -> "登陆名", '_showConstraints -> false, 'class -> "form-control")
                @helper.inputPassword(user("password"), '_label -> "登陆密码", '_showConstraints -> false, 'class -> "form-control")
                @helper.inputPassword(user("captcha"), '_label -> "验证码", '_showConstraints -> false, 'class -> "form-control")
                <input type="submit" value="登陆" class="btn btn-info"/>
                <input type="reset" value="重置" class="btn btn-default"/>
            }
        </div>
    </div>
}
