
body {
    background-color: burlywood;
    font-size: 12px;
}

.error {
    font-size: 8px;
    color: red;
}

dl {
    clear: both;
    padding: 10px;
}

dt {
    float: left;
    width: 60px;
    font-weight: bold;
}

dd {
    float: left;
    margin-left: 10px;
}

.info {
    display: none;
}

.buttons {
    clear: both;
    padding: 10px;
}

.name {
    display: inline-block;
    width: 120px;
}

.age {
    display: inline-block;
}

/*JQuery UI Custom*/
/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #d8dcdf;
}
.ui-widget-content {
	border: 1px solid #eeeeee;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #e3a1a1;
	background: #ffffff ;
	color: #000000;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}
