;select;
select * from dps.cdndomainflags where 1 = 1 {{#age}} and age = :age{{/age}}
{{#name}} and name =:name{{/name}}{{#name}} and name =:name{{/name}}
;count;
select * from dps.nice where 1 = 1 {{#age}} and age = :age {{/age}}
;function.12;
call dps.fun_fuck_you(:name,:age)
