<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script th:src="@{/resources/js/demo.js}"></script>
</head>
<body>
<header>
    <h1>My website</h1>
</header>
<section layout:fragment="menu">
    <a th:href="@{/}" th:text="#{home.title}"></a>
</section>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
<footer>
    <p>My footer</p>

    <p layout:fragment="custom-footer">Custom footer here</p>
</footer>
</body>
</html>