<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--
    <script src="//unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="//unpkg.com/vue/dist/vue.min.js"></script>
    -->
    <!--
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/fetch/2.0.1/fetch.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
    -->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/fetch/2.0.1/fetch.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
    <script src="//cdn.bootcss.com/vee-validate/2.0.0-beta.18/vee-validate.min.js"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app1">
    {{ message }}
</div>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
</div>
<div id="app-3">
    <p v-if="seen">Now you see me</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="t in list">
            {{ t.text }}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{ message }}</p>
    <button @click="reverseMessage">Reverse Message</button>


</div>
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
    <button @click="toUpper">大写</button>
    <button @click="toLower">小写</button>
    <button @click="ajax">Ajax</button>
    <button @click="html">Html</button>

    <div v-html="content"></div>
</div>
<div id="app-7">
    <ol>
        <!-- Create an instance of the todo-item component -->
        <todo-item v-for="item in list" v-bind:todo="item"></todo-item>
    </ol>
</div>

<div id="bootstrap-demo">
    <!-- Button trigger modal -->
    <form id="form_1" action="/form.html" method="post">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Search">
        </div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> Launch demo modal</button>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button id="_close" type="button" class="btn btn-default">Close</button>
                    <button id="_save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---->
<script src="/js/common.min.js"></script>
<script src="/js/index.min.js"></script>
</body>
</html>