<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Content page 1</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function _load_(_url, _method, _data) {
            var _csrf = /*[[${_csrf.token}]]*/ '/people';
            $.ajax({
                url: _url,
                type: _method,
                contentType: 'application/json',
                dataType: 'json',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', _csrf);},
                data: _data,
                success: function (data) {
                    $("#_c").html(data);
                }
            });
        }
        $(function () {
            var path = /*[[@{/people}]]*/ '/people';
            console.log("path:" + path);
            $("#_get").click(function () {
                _load_(path + "/1", "GET");
            });

            $("#_post").click(function () {
                _load_(path, "POST", {"firstName": "Frodo", "lastName": "Baggins"});
            });
            $("#_put").click(function () {
                _load_(path, "PUT", {"firstName": "Frodo2", "lastName": "Baggins2"});
            });
            $("#_patch").click(function () {
                _load_(path, "PATCH", {"firstName": "Bilbo Jr."});
            });
            $("#_delete").click(function () {
                _load_(path + "/1", "DELETE");
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<section layout:fragment="content">
    <h1>curl -i http://localhost:9001/console/ </h1>

    <a id="_get" href="javascript:void(0);" th:text="#{people.get}"></a><br/>

    <a id="_post" href="javascript:void(0);">Add</a><br/>

    <a id="_put" href="javascript:void(0);">PUT</a><br/>

    <a id="_patch" href="javascript:void(0);">PATCH</a><br/>

    <a id="_delete" href="javascript:void(0);">DELETE</a><br/>

    <div id="_c" style="width: 400px;height: 300px;"></div>
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>
</body>
</html>