<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
<title>{{$title}}{{/title}}</title>
{{! 头文件 }}
{{>common/head}}
</head>
<body>
{{! 菜单 }}
{{>common/menu}}
{{$body}}{{/body}}
{{! 脚文件}}
{{>common/footer}}
</body>
</html>
